.card-img {
  width: 100%;
  height: 225px;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-text-centered {
  text-anchor: middle;
}
/* Small devices and medium devices */
@media (max-width: 768px) {
  .movie-font {
    font-size: 0.9rem;
  }

  .card-block {
    display: block;
  }

  .card-block > img {
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 576px) {
  .row-cols-1 > * {
    flex: 0 0 80%;
    max-width: 100%;
  }
}

@media (min-width: 468px) and (max-width: 576px) {
  .card {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .card-block > img {
    max-height: 370px;
  }
}

@media (max-width: 468px) {
  .card-block,
  .card-block + .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .card-block > img {
    max-height: 370px;
    width: 100%;
  }
}
